<ion-view view-title="Cliente">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src={{clienteController.cliente.urlFoto}}>
                <h2>{{clienteController.cliente.name}}</h2>
                <p>{{clienteController.cliente.address}}</p>
            </div>

            <div class="item item-body">
                <img class="careers-image-wrapper" src="img/images.jpg">
                <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                    the content is from a card-body consisting of an image and paragraph text. The footer
                    consists of tabs, icons aligned left, within the card-footer.
                </p>

            </div>


        </div>
    </ion-content>
</ion-view>