<ion-view view-title="Dashboard">

    <ion-content>
        <div class="item item-icon-left"><strong>INCIDENCIAS PENDIENTES:</strong>
            {{Mydashboards.numeroPendientes}}</div>
        <div class="list"  ng-repeat="issue in Mydashboards.data | issuesFilter">
            <a class="item item-avatar" ng-class="issue.color" href="">
                <img ng-src={{issue.urlFoto}}>
                <i class="icon ion-android-alert"></i>
                {{Mydashboards.opciones[issue.status]}}
                <p>Cliente :{{issue.client.name}}</p>
                <p>{{issue.creationDate}}</p>
                <p>{{issue.comments}}</p>

            </a>
        </div>

    </ion-content>
</ion-view>