<ion-view view-title="Issues">
    <ion-content>

        <a class="item item-avatar"  >

            <h2>{{detail.datosDetalle.info}}</h2>
            <p>Estado Incidencia :{{detail.datosDetalle.status}}</p>
            <p>Cliente :{{detail.datosDetalle.client.name}}</p>
            <p>Direccion :{{detail.datosDetalle.client.address}}</p>
            <p>Creacion Incidencia :{{detail.datosDetalle.creationDate}}</p>
            <p>Fecha Asignacion :{{detail.datosDetalle.assignationDate}}</p>
            <p>Fecha Ultima Modificacion :{{detail.datosDetalle.assignationDate}}</p>
            <p>{{detail.datosDetalle.comments}}</p>

        </a>

    </ion-content>
</ion-view>