<ion-view view-title="Issues">
    <ion-content>

        <div class="list" ng-repeat="issue in Myissues.data | orderBy: 'status' | orderBy: 'assignationDate'">
            <a class="item item-avatar" href="#/issues/{{issue.id}}" >

                <img ng-src={{issue.urlFoto}}>
                <h2>{{issue.info}}</h2>
                <p>Estado Incidencia :{{issue.status}}</p>
                <p>Cliente :{{issue.client.name}}</p>
                <p>Direccion :{{issue.client.address}}</p>
                <p>Creacion Incidencia :{{issue.creationDate}}</p>
                <p>Fecha Asignacion :{{issue.assignationDate}}</p>
                <p>Fecha Ultima Modificacion :{{issue.assignationDate}}</p>
                <p>{{issue.comments}}</p>

            </a>
        </div>
    </ion-content>
</ion-view>