<ion-view view-title="Login">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Nombre">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="text" placeholder="contraseņa">
            </label>

            <button class="button button-full button-positive">
                Logeo
            </button>
        </div>
    </ion-content>
</ion-view>