<ion-view view-title="Mapa">
    <ion-content>
        Datos: {{mapaController.data}}
        Cliente: {{mapaController.cliente.location}}
        centro: {{mapaController.map.center}}

        <ui-gmap-google-map center='mapaController.map.center' zoom='mapaController.map.zoom'>
            <ui-gmap-marker coords="mapaController.marker.coords" options="mapaController.marker.options"
                            idkey="mapaController.marker.id">
            </ui-gmap-marker>

        </ui-gmap-google-map>
    </ion-content>
</ion-view>


